<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="coquedenoix" class="essai.Bateau" scope="prototype">
		<constructor-arg name="nb_case" value="1"/>
		<constructor-arg name="orientation" value="VERTICALE"/>
		<constructor-arg name="ligne" value="1" />
		<constructor-arg name="colonne" value="1"/>
	</bean>
	
	<bean id="barque" class="essai.Bateau" scope="prototype">
		<constructor-arg name="nb_case" value="2"/>
		<constructor-arg name="orientation" value="VERTICALE"/>
		<constructor-arg name="ligne" value="2" />
		<constructor-arg name="colonne" value="1"/>
	</bean>
	
	<bean id="b3" class="essai.Bateau" scope="prototype">
		<constructor-arg name="nb_case" value="4" />
		<constructor-arg name="orientation" value="VERTICALE"/>
		<constructor-arg name="ligne" value="1" />
		<constructor-arg name="colonne" value="2" />
	</bean>
	
	<util:list id="lstBateaubean" >
    	<ref bean="b3"/>
	</util:list>
	
	<bean id="g1" class="essai.Grille">
		<property name="nb_colonnes" value="0"/>
		<property name="nb_lignes" value="0"/>
		<property name="lstBateau" ref="lstBateaubean"/>
	</bean>

</beans>